# INTERRONPENDO UM WHILE

breck

In [1]:
s = 0
while True:
    n = int(input('Digite um valor [999 para sair]: '))
    if n == 999:
        break
    s += n
print('A soma dos valores é {}.'.format(s))

Digite um valor [999 para sair]: 2
Digite um valor [999 para sair]: 1
Digite um valor [999 para sair]: 3
Digite um valor [999 para sair]: 4
Digite um valor [999 para sair]: 999
A soma dos valores é 10.

# FSTRING

In [3]:
s = 0
while True:
    n = int(input('Digite um valor [999 para sair]: '))
    if n == 999:
        break
    s += n
print(f'A soma dos valores é {s}.')

Digite um valor [999 para sair]: 2
Digite um valor [999 para sair]: 3
Digite um valor [999 para sair]: 1123
Digite um valor [999 para sair]: 4
Digite um valor [999 para sair]: 4
Digite um valor [999 para sair]: 23
Digite um valor [999 para sair]: 123
Digite um valor [999 para sair]: 999
A soma dos valores é 1282.

In [10]:
nome = 'Felipe'
idade = 25
salario = 999

print(f'O {nome} tem {idade} anos e ganha R${salario}.')
print(f'O {nome:-^20} tem {idade} anos e ganha R${salario:.2f}.')
print(f'O {nome:->20} tem {idade} anos e ganha R${salario:.2f}.')
print(f'O {nome:-<20} tem {idade} anos e ganha R${salario:.2f}.')

O Felipe tem 25 anos e ganha R$999.
O -------Felipe------- tem 25 anos e ganha R$999.00.
O --------------Felipe tem 25 anos e ganha R$999.00.
O Felipe-------------- tem 25 anos e ganha R$999.00.